html body {
    background: linear-gradient(135deg,#f46a78,#fabb8f);
    font-family: Lato;
    color: #ffffff;
}

a.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card, .alert {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    overflow: hidden;
    border: 0;
}

.background-custom-vb {
    background: linear-gradient(135deg, #f46a78, #fabb8f);
    border: 1px solid #f46978;
    color: #ffffff;
}

.background-custom-danger {
    background: #f46a78;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.text-custom-vb {
    color: #f46978 !important;
}
