html body {
    background: linear-gradient(135deg,#f46a78,#fabb8f);
    font-family: Lato;
    color: #ffffff;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    height: 200px;
    overflow: hidden;
    border: 0;
}
